<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learning Logs</title>
</head>
<body>
{% extends "base.html" %}

{% block page_header %}
    <div class="jumbotron">
        <h1 class="display-3">Track your learning.</h1>

        <p class="lead">Make a log in which you'll track anything you wish, for example
        your learning progress.</p>

        <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}" role="button">
            Register &raquo;
        </a>
    </div>
{% endblock page_header %}
</body>
</html>